<div class="login-container">
  <div class="login-form">
    <form nz-form [formGroup]="forgotPasswordForm" [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
      <h2 class="login-title">Forgot Password</h2>
      <nz-form-item>
        <nz-form-label [nzFor]="'email'" nzRequired>Email</nz-form-label>
        <nz-form-control nzErrorTip="Please enter a valid email">
          <input
            nz-input
            formControlName="email"
            placeholder="Enter your email"
            type="email"
          />
        </nz-form-control>
      </nz-form-item>

      <div class="form-actions">
        <button type="submit" nz-button nzType="primary" [disabled]="forgotPasswordForm.invalid">
          Send Reset Code
        </button>
      </div>

      <div class="form-actions">
        <div class="back-to-login-link">
          <a routerLink="/auth/login">Back to Login</a>
        </div>
      </div>
    </form>
  </div>
</div>
