<div class="login-container">
  <div class="login-form">
    <form nz-form [formGroup]="resetPasswordForm" [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
      <h2 class="login-title">Reset Password</h2>
      <nz-form-item>
        <nz-form-label [nzFor]="'code'" nzRequired>Code</nz-form-label>
        <nz-form-control nzErrorTip="Please enter the reset code">
          <input
            nz-input
            id="code"
            formControlName="code"
            placeholder="Enter reset code"
          >
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzFor]="'newPassword'" nzRequired>New Password</nz-form-label>
        <nz-form-control nzErrorTip="Please enter a new password">
          <input
          nz-input
          id="newPassword"
          formControlName="newPassword"
          placeholder="Enter new password"
          type="password"
          >
        </nz-form-control>
      </nz-form-item>

      <div class="form-actions">
        <button type="submit" nz-button nzType="primary" [disabled]="resetPasswordForm.invalid" nzBlock>
          Reset Password
        </button>
      </div>

      <div class="form-actions">
        <div class="back-to-login-link">
          <a routerLink="/auth/login">Back to Login</a>
        </div>
      </div>
    </form>
  </div>
</div>
