<div class="login-container">
  <div class="login-form">
    <form
      nz-form
      [formGroup]="loginForm"
      [nzLayout]="'vertical'"
    >
      <h2 class="login-title">Login</h2>

      <nz-form-item>
        <nz-form-label [nzFor]="'email'" nzRequired>Email</nz-form-label>
        <nz-form-control [nzValidateStatus]="usernameControlStatus" [nzErrorTip]="'Email is required!'"
                         nzHasFeedback>
          <input
            nz-input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Enter your email"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzFor]="'password'" nzRequired>Password</nz-form-label>
        <nz-form-control [nzValidateStatus]="passwordControlStatus" [nzErrorTip]="'Password is required!'"
                         nzHasFeedback>
          <input
            nz-input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Enter your password"
          />
        </nz-form-control>
      </nz-form-item>

      <div class="form-actions">
        <button
          type="submit"
          (click)="onSubmit()"
          nz-button
          nzType="primary"
          [disabled]="loginForm.invalid && formSubmitted"
        >Login
        </button>
        <button
          (click)="logOut()"
          nz-button
          nzType="dashed"
        >logout
        </button>
      </div>

      <div class="form-actions">
        <div class="forgot-password-link">
          <a routerLink="/auth/forgot-password">Forgot Password?</a>
        </div>
      </div>

      <div class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
